<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dsz.mapper.DszTestMapper">
  <resultMap id="BaseResultMap" type="com.example.dsz.model.DszTest">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="addr" jdbcType="CHAR" property="addr" />
    <result column="tes" jdbcType="VARCHAR" property="tes" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
  </resultMap>
</mapper>