<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dsz.mapper.TestTimestampDatetimeMapper">
    <resultMap id="BaseResultMap" type="com.example.dsz.model.TestTimestampDatetime">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
        <result column="updated_1" jdbcType="TIMESTAMP" property="updated1"/>
        <result column="updated_2" jdbcType="TIMESTAMP" property="updated2"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
</mapper>