<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dsz.mapper.TestMapper">

    <!--
       mybatis缓存to see https://tech.meituan.com/2018/01/19/mybatis-cache.html
    -->

    <!--配置二级缓存相关策略-->
    <!--<cache type="org.apache.ibatis.cache.impl.PerpetualCache" />-->
    <!--也可以复用别的Mapper里面的cache配置-->
    <!--<cache-ref namespace="com.example.dsz.mapper.DszTestMapper" />-->

    <!--一对一、嵌套结果-->
    <resultMap id="dszWithSchool" type="com.example.dsz.model.DszTest2">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="addr" property="addr" jdbcType="VARCHAR"/>
        <result column="tes" property="tes" jdbcType="VARCHAR"/>
        <result column="status" property="status"  typeHandler="com.example.dsz.mybatis.type_handler.StatusHandler"/>
        <association property="school" javaType="com.example.dsz.model.School2">
            <id column="id" property="schoolId"/>
            <result column="school_name" property="schoolName"/>
        </association>
    </resultMap>
    <select id="queryDetailsById" parameterType="int" resultMap="dszWithSchool">
         select dt.*,sc.id schoolId,sc.school_name from dsz_test dt left join school sc on sc.id = dt.school_id where dt.id = #{id}
    </select>


    <!--一对一、异步查询-->
    <resultMap id="dszWithSchoolAsync" type="com.example.dsz.model.DszTest2">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="addr" property="addr" jdbcType="VARCHAR"/>
        <result column="tes" property="tes" jdbcType="VARCHAR"/>
        <result column="status" property="status"  typeHandler="com.example.dsz.mybatis.type_handler.StatusHandler"/>
        <association property="school" column="school_id" javaType="com.example.dsz.model.School2" select="selectSchool"/>
    </resultMap>
    <select id="queryDetailsById2" parameterType="int" resultMap="dszWithSchoolAsync" flushCache="true">
        select dt.* from dsz_test dt  where dt.id = #{id}
    </select>
    <select id="selectSchool" parameterType="int" resultType="com.example.dsz.model.School2">
        select id schoolId,school_name schoolName from school where  id = #{school_id}
    </select>



    <select id="queryOneById" resultType="com.example.dsz.model.School2">
             select  id schoolId,school_name schoolName from  school where  id = #{id} and id = #{id2}
    </select>


    <select id="queryOneByObject" resultType="com.example.dsz.model.School2">
             select  id schoolId,school_name schoolName from  school where  id = #{param.schoolId}
    </select>



</mapper>